<div id="image">
  <img src="https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png" alt="profileImg" id="profileImg" />
</div>

<br>

<div id="personDetails">
  <div id="name">
    Full Name: <span id="fullName">{{ profile.fullName }}</span>
  </div>

  <div id="addressOne">
    Address Line 1: <span id="addressOne">{{ profile.addressOne }}</span>
  </div>

  <div id="addressTwo">
    Address Line 2: <span id="addressTwo">{{ profile.addressTwo }}</span>
  </div>
  
  <div id="country">
    Country: <span id="country">{{ profile.country }}</span>
  </div>

  <div id="county">
    County: <span id="county">{{ profile.county }}</span>
  </div>

  <div id="postalCode">
    Postal Code: <span id="postalCode">{{ profile.postalCode }}</span>
  </div>

  <div id="city">
    City: <span id="city">{{ profile.city }}</span>
  </div>

  <div id="phoneNumber">
    Phone Number: <span id="phoneNumber">{{ profile.phoneNumber }}</span>
  </div>
  
  <div id="email">
    E-mail: <span id="email">{{ profile.email }}</span>
  </div>
</div>
